.submit:hover{
	background: #0ba966;
	color: #fff;
}
.content{
	margin: 3% auto;
}
.content a{
	text-decoration: none;
}
.kotak{
	margin: auto;
	width: 90%;
	border: 1px solid #eee;
}
.input{
	width:200px;
	height:30px;
	border:1px solid #eee;
}
