.input{
	width:200px;
	height:30px;
	border:1px solid #d9d9d9;
}
.tabel{
	margin: 5% auto;
	width: 90%;
}
.tabel th{
	padding: 8px;
	color: #fff;
	background: #0ba966;
}
.tabel td{
	padding: 4px;
	border-bottom:1px solid #000;
}
